
@import "tailwindcss";
/* DaisyUI plugin configuration should be done in the Tailwind CSS config file */
/* @plugin "daisyui"; */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
  }

  /* :root {
    font-family: Tahoma, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
  } */
  /* @tailwind base;
  @tailwind components;
  @tailwind utilities; */